[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "electivity"]
	path = electivity
	url = https://github.com/desiquintans/electivity
[submodule "librarian"]
	path = librarian
	url = https://github.com/desiquintans/librarian
[submodule "siftr"]
	path = siftr
	url = https://github.com/desiquintans/siftr
